{% extends "adminpanel/base.html" %}
{% block content %}
<div class="container-fluid col-md-6">
  <h4>Edit Occasion</h4>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">Occasion Name</label>
      <input type="text" name="name" class="form-control" value="{{ occasion.name }}" required>
    </div>
    <button type="submit" class="btn btn-success">Update</button>
    <a href="{% url 'admin_occasions' %}" class="btn btn-secondary">Cancel</a>
  </form>
</div>
{% endblock %}
